#Home {float:left;}
#Resume {padding-left : 30px;float:left;}
#Contact {padding-left : 30px;float:left;}


.resizedTextbox {width: 200px; height: 25px}
.resizedBigTextbox {width: 407px; height: 200px}
.userInput {
  margin: 1px;
  padding: 1px;
  width: 410px;
  height: 200px;
  resize: none;
  background-color: floralwhite;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}